@import '../../node_modules/bootstrap/scss/functions';
$enable-rounded: false;
$enable-shadows: true;
$enable-responsive-font-sizes: true;
$theme-colors:(
    "primary": rgb(142, 184, 142)
);
@import  '../../node_modules/bootstrap/scss/bootstrap';
@import  '../../node_modules/bootstrap-vue/src/index.scss';

body{
    //transition: all 2s ease;
}